body {
  font-family: sans-serif;
  background-color: #41b741;
  text-align: center;
  color: white;
}
#countdown {
  font-size: 3em;
}
#days {
  color: red;
}
#hours {
  color: white;
}
#mins {
  color: red;
}
#secs {
  color: white;
}
