html {
  height: 100%;
}
body {
  font-family: sans-serif;
  background-color: #ce0d0d;
  text-align: center;
  color: white;
  margin: 0;
}
#text {
  position: absolute;
  width: 100%;
  background-color: #41b741;
}
canvas {
  position: relative;
}
#countdown {
  margin: 0;
  font-size: 3em;
}
#days {
  color: red;
}
#hours {
  color: white;
}
#mins {
  color: red;
}
#secs {
  color: white;
}
::selection {
  color: red;
  background: white;
}
